* {
  margin: 0;
  padding: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
input {
  padding: 10px;
  border-radius: 25px;
}
label {
  display: inline-block;
  margin: 10px;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(50, 104, 180), rgb(97, 87, 87));
}

.title {
  color: rgb(255, 255, 255);
}

.form-container div {
  margin: 20px;
}


.form-container {
    max-width: 700px;
    width: 100%;
    padding: 3em;
    margin: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 8px 10px #0000004b;
}

#submitButton {
  max-width: 100px;
}

input {
    -webkit-appearance: none;
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

 input:invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
  input:focus:invalid {
    outline: none;
  }


  input:valid {
    -webkit-appearance: none;
    appearance: none;
  
    width: 100%;
    border: 1px solid #333;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    box-sizing: border-box;
  }